@{
    ViewData["Title"] = "Employee Analytics";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="background-wrapper">
        <img src="/images/image9.png" class="back-img" />
    </div>

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Prodilytics</div>
        <div class="masthead-heading text-uppercase">The Science of Your Success.</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header>

<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Our Services</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">AI-Powered Bottleneck Identification</h4>
                <p class="text-muted">Move beyond basic tracking. Our AI analyzes your workflow patterns to pinpoint hidden inefficiencies.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Predictive Insights</h4>
                <p class="text-muted">Prodilytics provides predictive insights, estimating completion times and identifying potential roadblocks before they occur, helping you stay on course and make informed adjustments to your strategy.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Goal Tracking</h4>
                <p class="text-muted">Set ambitious goals and achieve them with confidence. This service allows you to define specific productivity targets and track your progress.</p>
            </div>
        </div>
    </div>
</section>
</body>
